@import url('https://fonts.googleapis.com/css?family=Oleo+Script|Quicksand');

/*CSS RESET*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.App-intro {
  font-size: large;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/*MY CUSTOM CSS*/
a:link, a:visited {
	color: #D5DFE5;
	text-decoration: none;
}
/*HEADER STUFF GOES RIGHT HERE*/
header {
	color: white;
  border: 1px solid #C60D0D;
	background-color: #C60D0D;
  line-height: 1;
	overflow: auto;
}
header h1 {
	float: left;
	font-family: 'Oleo Script', cursive;
	font-size: 2em;
  margin: 10px;
}

header p {
	color: #DDDDDD;
	float: right;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.5em;
	margin: 10px;
}
/*THE EXTRAS GOES HERE*/
input {
	border: solid black;
	border-radius: 6px;
	float: none;
	overflow: auto;
}
.box-header {
	background-color: #DDDDDD;
	height: 30px;
	text-align: center;
	width: 100%;
}
.search-results {
	background-color: #ffffff;
  /*border: 10px solid #DDDDDD;*/
  float: left;
  height: 300px;
  margin: 20px;
  text-align: center;
  width: 42%;
}
.movie-title {
	font-size: 2em;
	font-weight: bold;
}
.movie-poster {
	float: left;
	height: 100px;
	margin: 15px;
	width:10px;
}
.movie-poster img {
	height: 200px;
}
.movie-info li{
	float: right;
	margin-right: 30px;
	width: 300px;
}

/*JUMBOTRON STUFF GOES RIGHT HERE*/
/*.jumbo-tron {
	background-color: #E21B1B;
	height: 300px;
	width: 100%;
}*/
/*SIDEBAR STUFF GOES RIGHT HERE*/
.side-bar {
	background-color: #6B717E;
  float: left;
  height: 700px;
  width: 13%;
}
.side-bar h3, .side-bar:link {
  color: #D5DFE5;
  line-height: 5;
  margin: 0 auto;
  text-align: center;
}
.side-bar h3:hover {
  border: 5px solid #DDDDDD;
}
/*SHARED DUEL QUERY STUFF GOES RIGHT HERE*/
.duel-query {
	background-color: #FFFFFF;
  float: left;
  height: 700px;
  text-align: center;
  width: 43%;
}
.duel-search-results {
	margin: 20px;
}
.box-header {
	background-color: #DDDDDD;
	height: 30px;
	text-align: center;
	width: 100%;
}
.main-content {
	background-color: #F1F3F4;
  /*border: 10px solid #DDDDDD;*/
  display: inline-block;
  height: 100px;
  margin: 100px auto;
  text-align: center;
  width: 80%;
}
.movie-duel {
	margin: 0 auto;
	position: fixed;
	top: 300px;
	left: 700px;
	text-align: center;
}
.lets-duel {
	background-color: yellow;
	border: 1px solid #DDDDDD;
	border-radius: 50px;
	color: #C60D0D;
	font-family: 'Oleo Script', cursive;
	font-size: 2em;
	height: 50px;
	line-height: 1.5;
	margin: 0 auto;
	text-align: center;
	width: 200px;
}
.movie-randomizer {
	background-color: #F1F3F4;
	height: 700px;
	text-align: center;
	line-height: 3;
	margin: 0 auto;
}
.main-content input {
  line-height: 2;
  margin: 10px auto;
	text-align: center;
  width: 80%;
}
.basic-search-section {
	background-color: #F1F3F4;
  height: 700px;
	line-height: 2;
  margin: 0 auto;
	text-align: center;
  width: 84%;
}
ul {
 }
ul:hover {
	background-color: black;
	color: white;
}
.basic-search {
  display: inline-block;
  line-height: 2;
  margin: 40px;
  width: 40%
}
/*FOOTER STUFF HERE*/
footer {
	background-color: #E21B1B;
  border: 1px solid #DDDDDD;
  clear: both;
  height: 50px;
  font-style: italic;
  line-height: 5;
  width: 100%;
  text-align: right;
}
